// Defined palettes. Tiny CSS for them */ 

@import url("http://fonts.googleapis.com/css?family=Noto+Sans");

// Set the global compass vars.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;
// Import the normalize plugin
@import "normalize";

$default-text-shadow-color: rgba(white, 0.5);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-h-offset: 1px;

@import "compass/css3";


@import "law/variables";
@import "winter/variables";
@import "mixins";

html{
	background: #F4F4F4;
	color: #212121;
	font-family:"Noto Sans", sans-serif;
	font-size:  0.95em;
	font-weight: 300;
}

#container{
	background: #FFFFFF;
	max-width: 60rem;
	margin: 0 auto;
	padding: 0.5rem 1rem;
}

.palette{
	margin: 0 0 0.5rem 0;
	h2{
		margin: 2rem 0 0.5rem 0;
	}
	.from{
		margin: 0 0 0.5rem 0;
		font-size: 0.85rem;
	}
	ul{
		list-style: none;
		margin:  0 0 0 0;
		padding: 0 0 0 0;
		li{
			display: inline-block;
		}
	}
	&.law{
		ul{
			&.six{
				@include color-palette-six( $law-link-color, $law-main-color, $law-bg-color, $law-text-color, $law-secondary-bg-color, $law-secondary-color);
			}
			&.darkensix{
				font-size: 0.85rem;
				@include color-palette-six( darken($law-link-color, 10%), darken($law-main-color, 10%), darken($law-bg-color, 10%), darken($law-text-color, 10%), darken($law-secondary-bg-color, 10%), darken($law-secondary-color, 10%) );
			}
			&.lightensix{
				font-size: 0.85rem;
				@include color-palette-six( lighten($law-link-color, 10%), lighten($law-main-color, 10%), lighten($law-bg-color, 10%), lighten($law-text-color, 10%), lighten($law-secondary-bg-color, 10%), lighten($law-secondary-color, 10%) );
			}
		}
	}
	&.winter{
		ul{
			&.five{
				@include color-palette-five( $winter-link-color, $winter-main-color, $winter-bg-color, $winter-text-color, $winter-secondary-bg-color);
			}
			&.darkenfive{
				font-size: 0.85rem;
				@include color-palette-five( darken($winter-link-color, 10%), darken($winter-main-color, 10%), darken($winter-bg-color, 10%), darken($winter-text-color, 10%), darken($winter-secondary-bg-color, 10%));
			}
			&.lightenfive{
				font-size: 0.85rem;
				@include color-palette-five( lighten($winter-link-color, 10%), lighten($winter-main-color, 10%), lighten($winter-bg-color, 10%), lighten($winter-text-color, 10%), lighten($winter-secondary-bg-color, 10%) );
			}
		}
	}
}